<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>squid_servlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>uploader.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  <display-name>DownloadServlet</display-name>
  <servlet-name>DownloadServlet</servlet-name>
  <servlet-class>com.cirdles.DownloadServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ClickServlet</display-name>
    <servlet-name>ClickServlet</servlet-name>
    <servlet-class>com.cirdles.ClickServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>APIServlet</display-name>
    <servlet-name>APIServlet</servlet-name>
    <servlet-class>com.cirdles.APIServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>reportsServlet</display-name>
    <servlet-name>reportsServlet</servlet-name>
    <servlet-class>com.cirdles.reportsServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>OpenServlet</display-name>
    <servlet-name>OpenServlet</servlet-name>
    <servlet-class>com.cirdles.OpenServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>SaveServlet</display-name>
    <servlet-name>SaveServlet</servlet-name>
    <servlet-class>com.cirdles.SaveServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>IndividReportServlet</display-name>
    <servlet-name>IndividReportServlet</servlet-name>
    <servlet-class>com.cirdles.IndividReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/download/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClickServlet</servlet-name>
    <url-pattern>/clickServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>reportsServlet</servlet-name>
    <url-pattern>/reportsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OpenServlet</servlet-name>
    <url-pattern>/OpenServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>APIServlet</servlet-name>
    <url-pattern>/api</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveServlet</servlet-name>
    <url-pattern>/save/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IndividReportServlet</servlet-name>
    <url-pattern>/individ</url-pattern>
  </servlet-mapping>
</web-app>